<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='store.css') }}">
</head>
<body>
	{% for p in products %}
		<div class="card">
	  		<img src= "{{p.pictureLink}}" alt="palestinian scarf" style="width:100%">
			<h1> {{p.name}} </h1>
			<p class="price">{{p.price}}</p>
			<p>{{p.description}}</p>
			<p><a href="{{url_for('addToCart',productID=p.id)}}"><button type="submit">Add to Cart</button></a></p>
		</div>
		</form>
	{% endfor %}



	<a href="/">home</a>
</body>
</html>